In [1]:
import pandas as pd

filepath = '/Users/alejo/Downloads/yellow_tripdata_2022-01.parquet' #Ale's Mac

#filepath = "C:\\Users\\Ale\\Downloads\\yellow_tripdata_2022-01.parquet" #Ale's PC

cab_df = pd.read_parquet(filepath, engine= "pyarrow")

In [2]:
cab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [3]:
filepath_2 = '/Users/alejo/Downloads/NY Weather Data 2022.xlsx - 3300694.csv' #Ale's Mac

#filepath_2 = 'C:\\Users\\Ale\\Downloads\\NY Weather Data 2022.xlsx - 3300694.csv' #Ale's PC

weather_import_df = pd.read_csv(filepath_2)

/var/folders/x7/tnkf_wk95_1gvrkst7460qw80000gn/T/ipykernel_90708/358772098.py:5: DtypeWarning: Columns (21,27,28,29,30,31,32,33,35,42,44,50,52,59,60,70,72,74,77,89) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_import_df = pd.read_csv(filepath_2)

In [4]:
weather_import_df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11627 entries, 0 to 11626
Data columns (total 124 columns):
 #    Column                                        Dtype
---   ------                                        -----
 0    STATION                                       int64
 1    DATE                                          object
 2    REPORT_TYPE                                   object
 3    SOURCE                                        int64
 4    AWND                                          float64
 5    BackupDirection                               float64
 6    BackupDistance                                float64
 7    BackupDistanceUnit                            float64
 8    BackupElements                                object
 9    BackupElevation                               float64
 10   BackupElevationUnit                           float64
 11   BackupEquipment                               object
 12   BackupLatitude                                float64
 13   BackupLongitude                               float64
 14   BackupName                                    object
 15   CDSD                                          float64
 16   CLDD                                          float64
 17   DSNW                                          float64
 18   DYHF                                          float64
 19   DYTS                                          float64
 20   DailyAverageDewPointTemperature               float64
 21   DailyAverageDryBulbTemperature                object
 22   DailyAverageRelativeHumidity                  float64
 23   DailyAverageSeaLevelPressure                  float64
 24   DailyAverageStationPressure                   float64
 25   DailyAverageWetBulbTemperature                float64
 26   DailyAverageWindSpeed                         float64
 27   DailyCoolingDegreeDays                        object
 28   DailyDepartureFromNormalAverageTemperature    object
 29   DailyHeatingDegreeDays                        object
 30   DailyMaximumDryBulbTemperature                object
 31   DailyMinimumDryBulbTemperature                object
 32   DailyPeakWindDirection                        object
 33   DailyPeakWindSpeed                            object
 34   DailyPrecipitation                            object
 35   DailySnowDepth                                object
 36   DailySnowfall                                 object
 37   DailySustainedWindDirection                   float64
 38   DailySustainedWindSpeed                       float64
 39   DailyWeather                                  object
 40   HDSD                                          float64
 41   HTDD                                          float64
 42   HourlyAltimeterSetting                        object
 43   HourlyDewPointTemperature                     object
 44   HourlyDryBulbTemperature                      object
 45   HourlyPrecipitation                           object
 46   HourlyPresentWeatherType                      object
 47   HourlyPressureChange                          float64
 48   HourlyPressureTendency                        float64
 49   HourlyRelativeHumidity                        float64
 50   HourlySeaLevelPressure                        object
 51   HourlySkyConditions                           object
 52   HourlyStationPressure                         object
 53   HourlyVisibility                              object
 54   HourlyWetBulbTemperature                      float64
 55   HourlyWindDirection                           object
 56   HourlyWindGustSpeed                           float64
 57   HourlyWindSpeed                               float64
 58   MonthlyAverageRH                              float64
 59   MonthlyDaysWithGT001Precip                    object
 60   MonthlyDaysWithGT010Precip                    object
 61   MonthlyDaysWithGT32Temp                       float64
 62   MonthlyDaysWithGT90Temp                       float64
 63   MonthlyDaysWithLT0Temp                        float64
 64   MonthlyDaysWithLT32Temp                       float64
 65   MonthlyDepartureFromNormalAverageTemperature  float64
 66   MonthlyDepartureFromNormalCoolingDegreeDays   float64
 67   MonthlyDepartureFromNormalHeatingDegreeDays   float64
 68   MonthlyDepartureFromNormalMaximumTemperature  float64
 69   MonthlyDepartureFromNormalMinimumTemperature  float64
 70   MonthlyDepartureFromNormalPrecipitation       object
 71   MonthlyDewpointTemperature                    float64
 72   MonthlyGreatestPrecip                         object
 73   MonthlyGreatestPrecipDate                     object
 74   MonthlyGreatestSnowDepth                      object
 75   MonthlyGreatestSnowDepthDate                  float64
 76   MonthlyGreatestSnowfall                       float64
 77   MonthlyGreatestSnowfallDate                   object
 78   MonthlyMaxSeaLevelPressureValue               float64
 79   MonthlyMaxSeaLevelPressureValueDate           float64
 80   MonthlyMaxSeaLevelPressureValueTime           float64
 81   MonthlyMaximumTemperature                     float64
 82   MonthlyMeanTemperature                        float64
 83   MonthlyMinSeaLevelPressureValue               float64
 84   MonthlyMinSeaLevelPressureValueDate           float64
 85   MonthlyMinSeaLevelPressureValueTime           float64
 86   MonthlyMinimumTemperature                     float64
 87   MonthlySeaLevelPressure                       float64
 88   MonthlyStationPressure                        float64
 89   MonthlyTotalLiquidPrecipitation               object
 90   MonthlyTotalSnowfall                          float64
 91   MonthlyWetBulb                                float64
 92   NormalsCoolingDegreeDay                       float64
 93   NormalsHeatingDegreeDay                       float64
 94   REM                                           object
 95   REPORT_TYPE.1                                 object
 96   SOURCE.1                                      int64
 97   ShortDurationEndDate005                       object
 98   ShortDurationEndDate010                       object
 99   ShortDurationEndDate015                       object
 100  ShortDurationEndDate020                       object
 101  ShortDurationEndDate030                       object
 102  ShortDurationEndDate045                       object
 103  ShortDurationEndDate060                       object
 104  ShortDurationEndDate080                       object
 105  ShortDurationEndDate100                       object
 106  ShortDurationEndDate120                       object
 107  ShortDurationEndDate150                       object
 108  ShortDurationEndDate180                       object
 109  ShortDurationPrecipitationValue005            float64
 110  ShortDurationPrecipitationValue010            float64
 111  ShortDurationPrecipitationValue015            float64
 112  ShortDurationPrecipitationValue020            float64
 113  ShortDurationPrecipitationValue030            float64
 114  ShortDurationPrecipitationValue045            float64
 115  ShortDurationPrecipitationValue060            float64
 116  ShortDurationPrecipitationValue080            float64
 117  ShortDurationPrecipitationValue100            float64
 118  ShortDurationPrecipitationValue120            float64
 119  ShortDurationPrecipitationValue150            float64
 120  ShortDurationPrecipitationValue180            float64
 121  Sunrise                                       float64
 122  Sunset                                        float64
 123  WindEquipmentChangeDate                       object
dtypes: float64(71), int64(3), object(50)
memory usage: 11.0+ MB

In [5]:
weather_columns = weather_import_df[['DATE', 'HourlyPrecipitation', 'HourlyDryBulbTemperature', 'HourlyWindSpeed', 'Sunrise']]
weather_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11627 entries, 0 to 11626
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATE                      11627 non-null  object
 1   HourlyPrecipitation       9847 non-null   object
 2   HourlyDryBulbTemperature  11248 non-null  object
 3   HourlyWindSpeed           10774 non-null  float64
 4   Sunrise                   365 non-null    float64
dtypes: float64(2), object(3)
memory usage: 454.3+ KB

In [6]:
weather_columns['HourlyDryBulbTemperature'] = pd.to_numeric(weather_columns['HourlyDryBulbTemperature'], errors='ignore', downcast='float')
weather_columns['HourlyDryBulbTemperature']

/var/folders/x7/tnkf_wk95_1gvrkst7460qw80000gn/T/ipykernel_90708/1136518334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_columns['HourlyDryBulbTemperature'] = pd.to_numeric(weather_columns['HourlyDryBulbTemperature'], errors='ignore', downcast='float')

0          51
1          51
2          51
3          52
4          51
         ...
11622    54.0
11623    54.0
11624    54.0
11625     NaN
11626     NaN
Name: HourlyDryBulbTemperature, Length: 11627, dtype: object

In [7]:
weather_columns['DATE'] = pd.to_datetime(weather_columns['DATE'], unit='ns')
weather_columns['DATE']

/var/folders/x7/tnkf_wk95_1gvrkst7460qw80000gn/T/ipykernel_90708/4117244399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_columns['DATE'] = pd.to_datetime(weather_columns['DATE'], unit='ns')

0       2022-01-01 00:51:00
1       2022-01-01 01:51:00
2       2022-01-01 02:30:00
3       2022-01-01 02:38:00
4       2022-01-01 02:51:00
                ...
11622   2022-12-31 23:05:00
11623   2022-12-31 23:34:00
11624   2022-12-31 23:51:00
11625   2022-12-31 23:59:00
11626   2022-12-31 23:59:00
Name: DATE, Length: 11627, dtype: datetime64[ns]

In [12]:
weather_columns['HourlyDryBulbTemperature'] = pd.to_numeric(weather_columns['HourlyDryBulbTemperature'], errors= 'coerce', downcast= 'float')

/var/folders/x7/tnkf_wk95_1gvrkst7460qw80000gn/T/ipykernel_90708/149475388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_columns['HourlyDryBulbTemperature'] = pd.to_numeric(weather_columns['HourlyDryBulbTemperature'], errors= 'coerce', downcast= 'float')

In [13]:
weather_test = weather_columns[['DATE', 'HourlyDryBulbTemperature']]
weather_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11627 entries, 0 to 11626
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATE                      11627 non-null  datetime64[ns]
 1   HourlyDryBulbTemperature  11245 non-null  float32
dtypes: datetime64[ns](1), float32(1)
memory usage: 136.4 KB

In [44]:
weather_df = weather_test.resample('60min', on= 'DATE').mean().reset_index()

weather_df#.info()

                    DATE  HourlyDryBulbTemperature
0    2022-01-01 00:00:00                 51.000000
1    2022-01-01 01:00:00                 51.000000
2    2022-01-01 02:00:00                 51.333332
3    2022-01-01 03:00:00                 50.500000
4    2022-01-01 04:00:00                 50.000000
...                  ...                       ...
8755 2022-12-31 19:00:00                 50.000000
8756 2022-12-31 20:00:00                 53.000000
8757 2022-12-31 21:00:00                 54.000000
8758 2022-12-31 22:00:00                 54.666668
8759 2022-12-31 23:00:00                 54.000000

[8760 rows x 2 columns]

In [43]:
cab_df = cab_df.rename(columns={'tpep_pickup_datetime' : 'DATE'})

In [45]:
merged_df = pd.merge(cab_df, weather_df, left_on= cab_df.DATE.dt.hour, right_on= weather_df.DATE.dt.hour, how='left')
merged_df

:

: